.team-wrapper {
    @extend %flex-centralize;
    margin-bottom: 50px;
}

@media screen and (max-width:645px) {
    .team-wrapper {
        justify-content: center;
    }
}

.team__title {
    font-size: 32px;
}

.team__paragraph {
    margin-top: 10px;
    max-width: 160px;
}

.team-card {
    display: flex;
    margin-top: 40px;
}

.team-card__img {
    margin-right: 23px;
    transition: 0.4s;
}

.team-card:hover > .team-card__img {
    transform: scale(1.1);
}

.team-card__subtitle {
    font-size: 14px;
    color: #f0454c;
    margin-top: 6px;
}

.team-card__heading {
    margin-top: 17px;
}

.team-more {
    text-align: right;
    margin-bottom: 60px;
}